# Server
PORT=8000

# Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# API KEYS
GEMINI_API_KEY=

GEMINI_API_KEY=
COHERE_API_KEY=

CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=
